{% extends "main.html" %}

{% block content %}
<pre>
{{ bubble }}
   \     
    \     </pre><pre class="black">,--^--.</pre><pre> 
     \   </pre><pre class="black">|   v   |</pre><pre>  
      \  </pre><pre class="black">|  O|O  |</pre><pre> 
         </pre><pre class="black">/./ ^ \.\</pre><pre> 
     .--</pre><pre class="black">/-/ === \-\</pre><pre>--.
    ( </pre><pre class="lightblue">$</pre><pre>             </pre><pre class="lightblue">$</pre><pre> )
     `---.   </pre><pre class="orange">o</pre><pre>   .---'
          ;  </pre><pre class="yellow">o</pre><pre>   :
          ;  </pre><pre class="orange">o</pre><pre>   :
         /        \
        /    /\    \
     .-' </pre><pre class="green">~~</pre><pre> /  \ </pre><pre class="green">~~</pre><pre> `-.
     `.___.'    `.___.'

</pre>
{% endblock content %}